header {
    background-color: #ffffffc0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    padding-block: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    @media (width <= 480px) {
        padding-block: 8px;
    }
    animation-name: show-header;
    animation-timing-function: linear;
    animation-timeline: scroll();
    will-change: contents;
}
header svg {
    width: 148px;
    height: 40px;
    @media (width <= 480px) {
        height: 28px;
        width: 102.9px;
    }
}
header .menubar {
    @media (width <= 480px) {
        width: 18px;
    }
    @media (width > 1023px) {
        display: none;
    }
}
.primary-nav {
    display: flex;
    @media (width <= 1023px) {
        display: none;
    }
}
.primary-nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
    text-transform: capitalize;
}
.primary-nav button {
    padding: 5px 20px;
    border: 1px var(--clr-200) solid;
}
.primary-nav button:where(:hover, :focus-visible) {
    border-color: var(--clr-350);
}